<h2>New Book</h2>
<!-- tell the server that our form is going to be sending multi-part data which could include a file-->
<!-- A multi-type form, also known as a multi-part form, is an HTML form that allows users to submit various types of data, including text, files (such as images, documents, etc.), and other types of media. -->
<form action="/books" method="POST">
  <!-- Create input part into partical file because we wanna this content be shared between both our new file and our edit file, so to avoid duplicate we create a single file that has those form inputs -->
  <%- include('_form_field') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
