<!-- we use __as start of file so that we know that this is a partial file and not an actual file that's being rendered from the server-->
<label>Name</label>
<!-- equal sign tells the server to create whatever text you got inside of these <> and put that as HTML to the page-->
<input type="text" name="name" value="<%= author.name%>" />
